.body {
    background: #F0F8FF;
    background-repeat: repeat;
    background-position: 10% 20%;
    background-size: 100% auto;
    display: grid;
    height: 50px;
    align-items: center;
    font-weight: bolder;
}
.header {
    padding: 10px;
    font-size: 30px; /*Размер шрифта*/
    color: #000000; /* Цвет текста */
    margin-bottom: 20px;

}
.nav{
  float: right;
  margin-top: 15px;
  margin-right: 25px;

}
.picture{
  float: left;
}
table {
  width: 100px;
  padding-left: 50px;
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}
th, td {
  border: 3px solid #000000; /* Граница для ячеек */
  text-align: center; /* Выравнивание текста */
  padding: 8px; /* Отступы внутри ячеек */
}

th {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #ffffff; /* Цвет фона для четных*/
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Цвет фона для нечетных*/
}
.window{
  background: #87CEFA;
  border-radius: 1%;
  font-size: 30px;
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  margin-bottom: 25px;
  padding: 50px;
  opacity: 87%;
}
.hr{
background: #DCDCDC;
  border-radius: 4%;
  font-size: 60px;
  max-width: 1020px;
  min-width: 1020px;
  margin: auto;
  font-family: "Book Antiqua";
  color: #0000CD;
  margin-bottom: 5px;
  padding: 50px;
  opacity: 87%;
}
